*{margin:0;padding:0;}
:root{
    --font1:'Oswald', sans-serif;
    --size1:48px;
    --lineheight1:59px;
    --font2: 'Amiri', serif;
    --size2:14px;
    --color2:#666666;
    --size3:22px;
    --size4:18px;
}
.banner_top{
    position: relative;
    background: url(bt.jpg) top center;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
}
.banner_top:before{
    content: ' ';
    position: absolute;
    background-image: -webkit-linear-gradient(left, #0000007d 0%,#00000000 50%,#00000091 100%);
    width: 100%;
    height: 100%;
}
.banner_top ._3col{
    position: absolute;
    display: flex;
    width: 100%;
}
.banner_top ._3col .col1{
    width: 33.33%;
}
.banner_top ._3col .col1 a{
    font-size: 20px;
    color: white;
    display: inline-block;
    padding: 20px 20px;
}
.banner_top ._3col .col1 a:hover{
    color: rgb(38, 38, 230);
}
.banner_top ._3col .col2{
    width: 33.33%;
    text-align: center;
}
.banner_top ._3col .col2 img{
    height: 35px;
    padding-top:20px;
}
.banner_top ._3col .col3{
    width: 33.33%;
    text-align: right;
}
.banner_top ._3col .col3 a{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 20px 10px;

}
.banner_top .text_banner{
    position: absolute;
    width: 100%;
    top:50%;
    color: white;
}
.banner_top .text_banner .content{
    width: 1170px;
    margin: auto;
}
.banner_top .text_banner .content .small_text{
    font-family: var(--font2);
    margin-bottom: 10px;
    font-size: var(--size2);
}
.banner_top .text_banner .content h1{
    font-family: var(--font1);
    font-size: var(--size1);
    line-height: var(--lineheight1);
    color: white;
    width: 50%;
}
/* end css top */
.content1{
    width: 1170px;
    font-family: var(--font2);
    display: flex;
    margin:auto;
    padding: 80px 0;
    color: var(--color2);

}
.content1 .left{
   width: 35%;
}
.content1 .right{
    width: 65%;
}
.content1 .left span{
    font-size: var(--size4);
}
.content1 .left h2{
    color: black;
    width: 50%;
    font-size: var(--size3);
    font-family: var(--font1);
}
.content1 .right p{
    line-height: 20px;
    margin-top: 15px;
}
.content1 .right p.p1{
    margin-left: 10px;
}
.content1 .right p.p1 a{
    text-decoration: none;
    font-family: var(--font4);
    font-size: var(--size2);
    color: #666666;
}
.content1 .right p.p1:before{
    content: '\f178';
    font: normal normal normal 14px/1 FontAwesome;
    position: relative;
    left: -10px;
    transition: 0.4s;
}
.content1 .right .p1:hover::before{
    left:0;
    color: black;
}
.content1 .right .p1 a:hover{
    left:0;
    color: black;
}
/* end content1 */
.content2{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align: center; 
    flex-wrap: wrap;  
    display: flex;
}
.content2 .menu{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.content2 .menu ul{
    list-style: none;  
}
.content2 .menu ul li{
    display: inline;
}

.content2 .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: var(--font2);
    padding: 40px 15px 15px 15px;
}
.content2 .products{
    position: relative;
    width: 500px;
    height: 300px;
    margin: 20px;
    text-align: center;
}
.content2 .products img{
    width: 500px;
    height: 300px;
}
.content2 .products .small_text{
    position: absolute;
    top:50px;
    text-align: right;
    font-weight: bold;
    color: #fff8f8;
    right:20px;
    opacity: 0;
    transition: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content2 .pr1:hover .s1 {
    opacity:1;
}
.content2 .pr2:hover .s2{
    opacity:1;
}
.content2 .pr3:hover .s3{
    opacity:1;
}
.content2 .pr4:hover .s4{
    opacity:1;
}
.content2 .pr5:hover .s5{
    opacity:1;
}
.content2 .pr6:hover .s6{
    opacity:1;
}
.gra{
    position: absolute;
    top:-8px;
    right: -35px;
    width: 160px;
    height:30px;
    background-image: -webkit-linear-gradient(left,#fff8f8,white,white);
    transform: rotateY(45deg);
    transition: 0.6s;
    opacity: 0;
}
.gra2{
    position: absolute;
    top: 25px;
    right: -40px;
    width: 205px;
    height: 30px;
    background-image: -webkit-linear-gradient(left,#fff8f8,white,white);
    transform: rotateY(45deg);
    transition: 0.6s;
    opacity: 0;
}
.gra3{
    position: absolute;
    top: 25px;
    right: -40px;
    width: 300px;
    height: 30px;
    background-image: -webkit-linear-gradient(left,#fff8f8,white,white);
    transform: rotateY(45deg);
    transition: 0.6s;
    opacity: 0;
}
.products:hover .gra3{
    width:0px;
    right:-8px;
    opacity: 1;
}
.products:hover .gra2{
    width:0px;
    right:0px;
    opacity: 1;
}
img:hover{
    opacity: 0.6;
}
.products:hover .gra{
    width:0px;
    right:85px;
    opacity: 1;
}
.gra1{
    position: absolute;
    top: 23px;
    right: -83px;
    width: 560px;
    height: 30px;
    background-image: -webkit-linear-gradient(left,#fff8f8,white,white);
    transform: rotateY(45deg);
    transition: 0.6s;
    opacity: 0;
}
.products:hover .gra1{
    width:0px;
    right:-10px;
    opacity: 1;
}
.content2 .product{
    margin-left: auto;
    margin-right: auto;
    width: 1085px;
}
.content2 .product .pro2{
    display: flex;
    width: 100%;
}
/* end content2 */
.content3{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.content3 .logo{
    border-bottom: solid 1px #ebebeb;
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    max-width: 100%;
    width: 120px;
    margin:80px 20px 30px 60px;
    opacity: 0.5;

}
.content3 .logo img.i1:hover{
    opacity: 1;
}
.content3 .logo img.i2:hover{
    opacity: 1;
}
.content3 .logo img.i3:hover{
    opacity: 1;
}
.content3 .logo img.i4:hover{
    opacity: 1;
}
.content3 .logo img.i5:hover{
    opacity: 1;
}
.content3 .text{
    display: flex;
    padding-top:50px;
    width: 1170px;
    margin: auto;
    padding-bottom: 100px;
}
.content3 .text h2{
    font-family: var(--font1);
    width: 25%;
    color:#2b2b2b;
    font-size: 36px;
    text-align: center;
}
.content3 .text p{
    font-family: var(--font2);
    width: 33%;
    font-size: 120%;
}
.content3 .text a{
    text-decoration: none;
    width: 90px;
    height: 30px;
    color: var(--color2);
    text-align: right;
    margin-left: 350px;
}
.content3 .text .a1:before{
    content: '\f178';
    font: normal normal normal 14px/1 FontAwesome;
    position: relative;
    left:-10px;
    transition: 0.6s;
    opacity: 0.8;
}
.content3 .text .a1:hover:before{
    left:0;
    opacity: 1;
}
.intro{
    width: 100%;
    background-color: black;
    padding-top:30px;
    padding-bottom: 60px;
    display: flex;
}  
.intro .left{
    width:50%;
}  
.intro .left p{
    font-family: var(--font2);
    font-size: var(--size2);
    color:#ffffff;
    padding-left: 30px;
    padding-top:10px;
}  
.intro .left p::before{
    content:'\f2dc';
    font: normal normal normal 14px/1 FontAwesome;
}  
.intro .right{
    width: 50%;
    text-align: right;
    padding-top:10px;
}
.intro .right span{
    color:#ffffff ;
    padding-right:30px;  
}
.intro .right span i{
    color:#89b32c;
}
.intro .right .a2{
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    margin-right:30px;
    margin-left:-30px;
    transition: 0.4s;
}
.intro .right .a2:hover{
    opacity:1;
}
